* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: url('./Assets/png/Merged\ bar-57.png') no-repeat;
    align-items: center;
    background-size: cover;
    top: 0;
    width: 100%;
    /* z-index: 0; */
} 
.navBarList ul{
    margin:0;
    padding:0;
    display: flex;
    list-style: none;
}

.navBarList li a {
    /* text-decoration: none; */
    padding: 1rem;
    display: block;
}

.navbarLogo {
    margin-right: 2px;
    float: left;
    width: 5vw;
    min-width: 30px;

}
h5 {
    color: #0d59b6;
    text-align: center;
    
}

.img {
    width: 2vw;
    min-width: 7px;
   align-items: center;

}

.navbarListLink {

    font-size: 25px;
    font-weight: bold;
    padding-right: 1em;
    text-decoration: none;

}
.toggle-button {
    position: absolute;
    top: .75rem; 
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: aliceblue;
    border-radius:10px;
}
@media  only screen and ( max-width:400px){
  .toggle-button {
    display:flex;
  }
  .navBarList{
    display: none;
    width:100%;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;

  }
  .navBarList ul{
    width:100%;
    flex-direction: column;
  }
  .navBarList li {
    text-align: center;
    
  }
  .navBarList li a {
    padding: .5rem 1rem;
  }
  .navBarList.active{
    display: flex;
}
}


@media only screen and (max-width: 700px) {
    .navbarListLink {
        font-size: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .navbarListLink {
        font-size: 22px;
    }

}

@media only screen and (max-width: 500px) {
    .navbarListLink {
        font-size: 16px;
    }
}


.Lang {
    border: 1px solid orange;
    padding: 0.5vw;
    border-radius: 15px;
    margin-right: 7px;
    color: black;
}

.yellowBar {
    background-color: rgb(255, 200, 0);
}

.Description {

    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(15, 114, 115);
    font-weight: 500;
    margin: auto;
    text-align: center;
    width: 38em;
    font-size: small;
}

.titleHeading {
    text-align: center;
    padding-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-question {
    color: #0d59b6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.symptome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;

    padding: 30px;
    text-align: center;
}

@media only screen and (max-width:1000px) {
    .symptome {

        grid-template-columns: repeat(2, 1fr);

    }
        .Description {
        width: 80%;
        line-height: 1.5em;


    }
        .yellowBar {

        font-size: larger;

    }
}

@media only screen and (max-width:600px) {
    .symptome {
        grid-template-columns: repeat(1, 1fr);
    }
     .yellowBar {
        width: 100%;
        font-size: x-small;

    }
        .title-question {
        font-size: small;
        width: 40%;
        padding-left: 28%;

    }
}




@media only screen and (max-width:330px)and (min-width:80px) {
    .navbar {
        font-size: x-small;

    }

    .navbarList {
        width: 100%;
        font-size: x-small;
        top: 0;
        width: 100%;
        z-index: 0;
        flex-direction: column;
    }

    .navbarLogo {
        margin-right: 2px;
        float: left;
        

    }
}



